.git
.dvc
.venv
venv
env

__pycache__
*.pyc
*.pyo

.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints

data/**
artifacts/**

!artifacts/deployment/
!artifacts/deployment/model/
!artifacts/deployment/model/**

configs/experiments
notebooks

mlruns
mlartifacts
wandb

_local_archive

*.ckpt
*.pt
*.pth
*.zip
.env

_local_archive/